
.info-strip {
  margin-top: 60px;
  background: rgba(0, 0, 0, 0.2);

  &__container {
    padding: 25px 15px;
  }

  &__account-level {
    //color: #6f747d;
    color: #fff;
    font-family: "Avenir-Light", sans-serif;
    font-size: 14px;
  }

  &__account-level-increase {
    //color: #6f747d;
    color: #ff0000;
    text-decoration: underline !important;
    font-family: "Avenir-Light", sans-serif;
    font-size: 14px;
  }

  &__exchange-rate {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 14px;

    .change {
      color: rgba(255, 255, 255, 0.5);

      &.positive {
        color: #28a745;
      }

      &.negative {
        color: #dc3545;
      }
    }
  }

}

@media (max-width: 768px) {
  .info-strip {
    .header {
      font-size: 24px;
    }
  }
}