.exchange_form {
  width: 100%;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exchange__price {
  position: relative;
  float: right;
  z-index: 2;
}

.roll_button_wrapper {
  display: flex;
  justify-content: center;
}

.roll_button {
  display: flex;

  @media (max-width: 576px) {
    margin-bottom: 20px;
  }

  &:active {
    .roll_button__icon {
      animation: spin 0.2s normal linear;
      -webkit-animation: spin 0.2s normal linear;
    }
  }

  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  &:hover {
    .roll_button__icon {
      fill: #ffffff;
    }
  }
}

.roll_button__icon {
  width: auto;
  height: 25px;
  fill: rgb(43, 56, 64);

  &:active {
    animation: spin 0.3s normal linear;
    -webkit-animation: spin 0.3s normal linear;
  }
}